<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tobitint.bohnanza"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.screen.landscape" />

    <application
        android:name="com.tobitint.bohnanza.InfoApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="com.tobitint.bohnanza.match.onlineMatch.WaitOnlineMatchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tobitint.bohnanza.match.onlineMatch.JoinOnlineMatchOptionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name="com.tobitint.bohnanza.match.onlineMatch.CreateOnlineMatchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tobitint.bohnanza.match.onlineMatch.NewOnlineMatchOptionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name="com.tobitint.bohnanza.match.onlineMatch.OnlineMatchOptionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name="com.tobitint.bohnanza.LoginActivity"
            android:label="Login"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.tobitint.bohnanza.match.GameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tobitint.bohnanza.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>